# for intellij IDE
*.idea
*.iml

# gradle
.gradle
/build/
gradle-app.setting # Ignore gradle GUI config
!gradle-wrapper.jar # Avoid ignoring Gradle wrapper jar file
gradle.properties # Access Properties for upload & publish plugin

# Other
.DS_Store
